<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Classroomjs for GitHub</title>
  <link rel="stylesheet" media="all" href="/css/home.css">
  <link rel="stylesheet" href="/vendor/bower_components/octicons/octicons/octicons.css">
</head>
<body class="site pages home">
  <main>
 <%- include ./../partials/header.ejs %>
    <div class="site-content">
      <div class="container">
        <div class="site-content">
          <div class="site-content-cap">
            <a class="btn btn-green right" role="button" href="/classroom/new">
              Add Classroom
            </a>    <h2 class="site-content-heading">Classrooms</h2>
          </div>
          <div class="site-content-body organization-list-items">
            
            <% if(classrooms.length){ for(var i=0; i< classrooms.length; i++) {%>
            <option value="<%= classrooms[i].id%>"><%= classrooms[i].login%></option>
            <div class="flex-table organization-list-item">
              <div class="flex-table-item">
                <img class="avatar left" height="60" width="60" alt="@Jutja" src="https://avatars.githubusercontent.com/u/<%= classrooms[i].github_id%>?v=3&amp;size=120">
                <a class="organization-title" href="/classroom/<%= classrooms[i].title%>_<%=classrooms[i].org_name%>">
                  <strong class="css-truncate-target"><%= classrooms[i].title%></strong>
                </a>
                <span class="text-muted css-truncate-target">@<%= classrooms[i].org_name%></span>
              </div>
              <div class="flex-table-item organization-stats text-right">
                <span class="organization-stat-item text-muted tooltipped tooltipped-s" aria-label="Individual Assignments">
                  <span class="octicon octicon-person"></span><%= classrooms[i].nia%>
                </span>
                <span class="organization-stat-item text-muted tooltipped tooltipped-s" aria-label="Group Assignments">
                  <span class="octicon octicon-organization"></span><%= classrooms[i].nga%>
                </span>
              </div>
            </div>
            <% }} else {%>
            <span class="octicon octicon-x flash-close js-flash-close"></span>
            <p> No Classroom has been created yet. </p>
          </div>
          <% } %>
          
        </div>
      </div>
    </div>
  </div>
  </main>
  
</body></html>
